<!-- begin project-summary -->
{% assign c = "c-project-summary" %}
<section class="{{c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{c}}__inner">

          <div class="{{c}}__left">
            <h2 class="{{c}}__title">{{ include.title }}</h2>
            <div class="{{c}}__description">
              {% if include.description_html %}
              {{ include.description_html }}
              {% else %}
              <p>{{ include.description }}</p>
              {% endif %}
            </div>
            <div class="{{c}}__features">
              <h3>Features</h3>
              <ul>
                {% for feature in include.features %}
                  <li>{{ feature }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          {% if include.featured_video %}
          <div class="{{c}}__right">
            <div class="{{c}}__image">
              <a
                href="https://www.youtube.com/watch?v={{ include.featured_video }}"
                class="{{c}}__image"
                data-fslightbox="gallery"
                data-caption="<p>{{ include.item[1] }}</p>"
              >
                <img
                  loading="lazy"
                  src="http://img.youtube.com/vi/{{ include.featured_video }}/hqdefault.jpg"
                  alt="YouTube video"
                  class="preview"
                  data-fslightbox="gallery"
                />
                <img
                  loading="lazy"
                  src="/images/play-button-overlay.png"
                  alt="Play button"
                  class="play-button"
                />
              </a>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end project-summary -->