---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle extended_description=page.extended_description cta_button=page.cta_button cta_button_link=page.cta_button_link %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  {% bookshop project-summary
    title=page.summary_title 
    description=page.summary_description 
    features=page.features
    featured_video=page.featured_video
  %}

  {% bookshop project-featured-in
    featured_in=page.featured_in
    description_html=page.featured_in_description_html
    image=page.featured_in_image
    image_alt=page.featured_in_image_alt
  %}

  {% bookshop project-whats-new
    title=page.whats_new_title
    url=page.whats_new_url
    domain=page.whats_new_domain
  %}

  {% bookshop project-gallery
    gallery=page.gallery
  %}

</div>
