---
layout: default_blocks_with_newsletter
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle extended_description=page.extended_description cta_button=page.cta_button cta_button_link=page.cta_button_link %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  {% bookshop project-summary
    title=page.project_title 
    description_html=page.project_description_html 
    features_html=page.project_features_html
    video_html=page.project_video_html
  %}

  {% bookshop project-featured-in
    title=page.project_featured_in
    description_html=page.project_featured_in_description_html
    image=page.project_featured_in_image
  %}

  {% bookshop project-whats-new
    title=page.whats_new_title
    description_html=page.whats_new_description_html
    cta_button=page.whats_new_cta_button
    cta_button_link=page.whats_new_cta_button_link
  %}

  {% bookshop project-gallery
    gallery=page.gallery
  %}

</div>
