<!-- begin project-whats-new -->
{% assign c = "c-project-whats-new" %}
<section class="{{c}} animate fullest-width">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{c}}__inner">

          <h3 class="{{c}}__title">{{ include.title }}</h3>
          <div class="{{c}}__description">
            <p>Get the latest updates at <a href="{{ include.url }}">{{ include.domain }}</a></p>
          </div>

          <div class="{{c}}__btn">
            <a href="{{ include.url }}" class="cta-button c-button c-button--primary c-button--small">Get the latest updates</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end project-whats-new -->